body{
	background-color: white;

}
@media(max-width: 767px){
	p{
		font-family:cursive;


	}
	body{
	background: url(img/img.jpg) no-repeat;
	background-color: grey;


}


}
.text p{
	font-weight: bold;

}

.contenedor{
	width: 100%;
	text-align: left;
	margin-left: 10%;


}


.row{
		
	display: inline-block;



}



.col10{
	width: 10%;
	


}
.col90{
	
	width: 80%;




}

.col66{
	width: 60%;
	margin-left:10px; 



}

.col33{
	width: 30%;
	float: right;



}
/*Css DEL link	*/
h1 a:link{
	color:red;
	text-decoration: none;
}
h1 a:visited{
	color:orange;
	text-decoration: none;


}
h1 a:hover{
	color:black;
	text-decoration: underline;
}
h1 a:active{
	color:yellow;


}

