<style>
		*{	
			box-sizing: border-box;
		}
		.fila{
			width: 100%;
			display: block;			
		}
		.fila::after{
			clear:both;
		}
		.fila:after{
			clear:both;
		}

		*[class^="columna"]{
			display: block;
			float: left;
			overflow: hidden;
			height: 135px;
		}
		.columna50{
			width: 50%;
		}
		.columna25{
			width: 25%;
		}
		.columna100{
			width: 100%;
		}
		*[class^="columna"] > img{
			max-width: 100%;
		}

		.hero > *[class^="columna"] {
				height: 270px;
		}

	</style>