.formulario{
	font-family:fuentemagica;
	border: red solid;
	background-color: black;





}

h1{
	text-align:center;



}

.rec{
	border: black solid;
	background-color: red;

}
button{

	text-align: center;

}

@font-face{
	 font-family:fuentemagica;
   	 src: url(/font/IndieFlower.ttf);

}
table, td, th{
	font-family: fuentemagica;
	border:solid black;
	padding: 2px;
}
